* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
  }

  body{
    height: 100vh;
    width: 100%;
  }

  .hero-cont{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero{
    width: 100%;
    height: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    border-bottom: 4px solid black;
  }

.form{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type=text]{
padding: 5px;
  /* background-color: red; */
  border-radius: 2px;
  border: 2px solid #111;
}

input[type=submit]{
  padding: 5px;
  width: 50px;
  border-radius: 5px;
  background-color: red;
  border: 2px solid #111;
}

  nav{
    position: absolute;
    top:0;
    z-index: 10000;
  }

  ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
  }

  li a{
    text-decoration: none;
    color: white;
    font-family: 'Luckiest Guy', cursive;
    color: white;
    text-shadow: 2px 2px 4px black;
    font-size: 24px;
  }

  li a:hover{
    text-decoration: white wavy underline;
  }

  .btn a{
    color: black;
    text-decoration: none;
  }

  .margin{
    margin-left: 40px;
  }

  .title{
    font-family: 'Luckiest Guy', cursive;
    color: white;
    text-shadow: 8px 8px 10px black;
  }
  


  .contenitore{
    width: 100%;
    height:max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }


  .card{
    width: 270px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-width: 270px;
    min-height: 350px;
    max-width: 270px;
    max-height: 350px;
    margin: 3%;
  }

  .border{
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    flex-direction: column;
    font-family: 'Amatic SC', sans-serif;
    font-family: 'Nova Square', sans-serif;
    font-family: 'Roboto Mono', monospace;
  }

  .up{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nome{
    width: 90%;
    height: 90%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }

  .up_g{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .down_g{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .generi{
    border: none;
  }
  .text{
    display: flex;
    height: 70%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 14px;
    margin-bottom: 2%;
  }
  .bottoni{
    height: 20%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

   .bottonig{
    height: 20%;
    width: 90%;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
  }

  .bottonig a {
    text-decoration: none;
    color: white;
  }

  button:hover{
    zoom: 1;
  }

  .keyword{
    text-align: left;
    width: 100%;
    height: 20%;
    padding-left: 5%;
  }
  .key{
    height: 25%;
    width: 100%;
    font-size: 20px;
  }
  .book{
    width: 100%;
    height: 12%;
    text-align: left;
  }
  .gen{
    height: 30%;
    width: 100%;
  }
  .description{
    width: 100%;
    height: 70%;
  }
  .text h2{
   font-weight: bold;
   font-size: 26px;
  }
  .generibnt{
    background-color: black;
    color: white;
    font-size: 14px;
  }
  .fantascienza{
    background-color: rgb(231, 50, 231);
  }
  .fantasy{
    background-color: rgb(73, 73, 245);
  }
  .giallo{
    background-color: yellow;
  }
  .horror{
    background-color: red;
  }
  .classici{
    background-color: rgb(251, 70, 5);
  }
  .storico{
    background-color: rgb(140, 61, 4);
  }
  .formazione{
    background-color: lightblue;
  }
  .best{
    background-color: rgb(25, 207, 25);
  }

  .content{
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .gifts{
    height: 100%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gift{
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid;
    min-width: 350px;
  }
  .button:hover{
    opacity: 0.50;
  }

  .ggift{
    background: radial-gradient(circle, rgba(245,246,249,1) 0%, rgba(232,248,5,1) 80%);
  }
 
  .fgift{
    background: radial-gradient(circle, rgba(245,246,249,1) 0%, rgba(248,5,236,1) 80%);
  }

  .fagift{
    background: radial-gradient(circle, rgba(244,244,247,1) 0%, rgba(8,31,247,1) 80%);
  }
  .hgift{
    background: radial-gradient(circle, rgba(244,244,247,1) 0%, rgba(247,8,26,1) 80%);
  }
  .cgift{
    background: radial-gradient(circle, rgba(244,244,247,1) 0%, rgba(247,106,8,1) 80%);
  }
  .sgift{
    background: radial-gradient(circle, rgba(244,244,247,1) 0%, rgb(140, 61, 4) 80%);
  }
  .fogift{
    background: radial-gradient(circle, rgba(244,244,247,1) 0%, rgba(106,169,241,1) 80%);
  }
  .bsgift{
    background: radial-gradient(circle, rgba(244,244,247,1) 0%, rgb(25, 207, 25) 80%);
  }
 

  .nome h2{
    position: absolute;
    margin-top: -90px;
  }

  .nome h1{
    font-size: 20px;
  }

  .down{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .voci{
    height: 70%;
    width: 90%;
  }
  .voce{
    display: flex;
    width: 100%;
    height: 20%;
  }
  .info{
    width: 50%;
    height: 100%;
  }
  .risp{
    text-align: center;
    width: 50%;
    height: 100%;
  }

 

  .btn{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn button{
    max-width: 90%;
    max-height: 20%;
    border: 2px solid black;
  }

  #btnscroll{
    position: fixed;
    width: 50px;
    height: 50px;
    right: 5%;
    bottom: 10%;
    background: white;
    border: 2px solid black;
    border-radius: 30px;
    color: white;
    font-size: larger;
    z-index: 10000;
  }

  #btnclose{
    position: fixed;
    width: 50px;
    height: 50px;
    right: 25%;
    top: 5%;
    background: white;
    border: 2px solid black;
    border-radius: 30px;
    color: white;
    font-size: larger;
    z-index: 10000;
  }



  img{
    max-width: 100%;
    max-height: 100%;
  }

  .popup{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10000000;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .poppy{
    width: 40%;
    height: 90%;
  }
  .hidden{
    display: none;
  }

/* ?media qwery  */
@media screen and (max-width:500px){
    .hero h1{
      font-size: 50%;
    }

    .hero li a{
    font-size: 16px;
    }
    .form input[type=submit]{
      font-size: 12px;
    }
}